.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  background-color: var(--color-wa-brand);

  &--open {
    width: 250px;
  }

  .navbar_close_button {
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}

.menuItem {
  padding: 15px;
  text-decoration: none;
  font-size: 1.2em;
  color: #fff;
  display: block;
  transition: 0.3s;

  &:hover,
  &--active {
    color: #c0c0c0;
  }
}
