:root {
  // - - - - - - - - - - - Colors
  --color-wa-black: #000;
  --color-wa-brand: #4e4e4e;
  --color-wa-ancient: #787878;

  // - - - - - - - - - - - Spacings
  --spacing-wa-s: 2px;
  --spacing-wa-m: 4px;
  --spacing-wa-l: 8px;
  --spacing-wa-xl: 16px;
  --spacing-wa-xxl: 32px;

  --spacing-wa-l-neg: -8px;

  // - - - - - - - - - - - Radiuses
  --radius-wa-s: 4px;
  --radius-wa-m: 8px;
  --radius-wa-l: 16px;

  // - - - - - - - - - - - Fonts
  --font-roboto: 'Roboto', sans-serif;
}
